<a id="navbar_plugin_apiTest" href=#" title="{{ plugin_apiTest_tooltip }}" data-bind="click: function() { $root.sendMsg(); }, visible: (loginState.isAdmin())">
    <i class="fa fa-legal" aria-hidden="true"></i>
</a>